/* You can add global styles to this file, and also import other style files */
/*
    1. Posicionamiento
    2. Modelo caja (box model)
    3.Tipografia
    4. Visuales
    5. Otros
 */

:root {
  --verde-darkest: #25351f;
  --verde-dark: #3d5c3d;
  --verde-light: #659165;
  --verde-lighter: #c1e1c1;
  --verde-white: rgb(224, 239, 226);
  --yellow-dark: gold;
  --yellow-light: goldenRod;
  --white: white;
  --black: black;
  --blueFacebook: rgb(66 103 178);
  --bluePrimary-Bootstrap: #0275d8;
  --blueInfo-Bootstrap: #5bc0de;
}

/* definimos esto por defecto en cada proyecto al principio */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
  font-family: "Merriweather Sans", Arial, Helvetica;
  min-width: 320px;
  /*
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; */
}

/* fin---definimos esto por defecto en cada proyecto al principio */


/* ========================================================================================= */
/* ========================================================================================= */
/* ====HEADER SECTION START================================================================= */
/* ========================================================================================= */
/* ========================================================================================= */

.width80 {
  width: 80%;
}

textarea.width100 {
  width: 100%;
}

.encabezado {
  /* background: rebeccapurple; */
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  text-align: center;
  width: 100%;
  /* es la dimension mas pequena en celulares */
  /* hasta aqui los elementos css de curso "movile first" */
  /*overflow: hidden;   para distribuir los elementos hijo en espacios iguales dentro del area asignada al padre */
}



.wrapper {
  display: flex;
  align-self: center;
  background: var(--verde-lighter);
  border-radius: 10px;
  justify-content: center;
  width: 100%;
  margin-bottom: 35px;
}

.encabezado--cintillo {
  position: relative;
  display: flex;
  max-height: 5vh;

  align-items: center;
  width: 80%;
}

/* 1 */
.cintilloRotando {
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  font-size: 2.4rem;
}

/* 2 */
.socialMedia {
width: 25%;
height: 100%;
}
.socialMedia span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url('../facebookF-01.svg');
  background-repeat: no-repeat;
  background-position:center;
  transform: scale(1.6) translateX(12%);

}

/* 3 */
.loginButton {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
}
.loginButton>button {
  width: 50%;
}

.encabezado--cintillo h1>span {
  display: inline-block;
  /* sino colocas inline-block no agarra la animacion */
  animation: texto 15s linear infinite;
  /*  animation: 25s ease-out infinite banner;*/
  padding-left: 100%;
  /* para que comience en 100% y la animacion termine en -100% */
}

@keyframes texto {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
    color: var(--verde-dark);
  }
}

.navBar {
  position: relative;
  width: 100%;
  max-width: 80%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  /* se alinea el elemento directo (no va dirigido a los hijos) */
  /* align-items: center;  alineacion vertical del hijo*/
  /* margin: 1rem; */
}

.navbar--proLogo {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.navbar--proMenu {
  position: relative;
  /* left: 50%;
transform: translateX(-50%); */
}

.navbar--items {
  position: relative;
  overflow: hidden;
  display: flex;
}

.navbar--items ul {
  display: flex;
  list-style: none;
  background: var(--verde-lighter);
  border-radius: 5px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar--items ul li {

  background: var(--verde-white);
  border-radius: 5px;
  display: flex;
  align-items: center;

}

.navbar--items ul li a {
  text-decoration: none;
  color: var(--verde-darkest);
  font-size: 1.5rem;
  padding: 10px 30px;
  border: 0.5px solid var(--verde-lighter);
  white-space: nowrap;
}

.navbar--items ul li a:hover {
  text-decoration: none;
  color: var(--verde-darkest);
  font-size: 1.5rem;
  border: 0.5px solid var(--verde-dark);
}

@media (max-width: 765px) {
  .navbar {
    position: relative;
    flex-direction: column;
    width: 100%;
  }

  .navbar--items ul li a {
    font-size: 1.2rem;
    padding: 0.2rem;
  }

  .navbar--proLogo {
    width: 100%;
  }

  .navbar--items {
    justify-content: center;
    width: 100%;
    align-self: center;
  }

  .navbar--img {
    position: relative;
    width: 100%;
    align-self: center;
  }

  .textCintillo {
    display: none;
  }
}

.navbar--items ul li a.active {
  font-weight: bold;
  border: 0.5px solid var(--verde-dark);
  color: white;
  background: var(--verde-light);
}


/* ========================================================================================= */
/* ========================================================================================= */
/* HEADER SECTION END======================================================================= */
/* ========================================================================================= */
/* ========================================================================================= */

/* ========================================================================================= */
/* ========================================================================================= */
/* BODY SECTION START======================================================================= */
/* ========================================================================================= */
/* ========================================================================================= */

.principal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}


.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 700px;  al parecer no funciona por .banner-botones*/
  align-items: center;
  /* el text-align center del padre (encabezado) lo centra,
    pero al poner el ancho de 80% se pegaba a la izquierda,
    le puse un align-items center y se centraron los hijos */
  background: var(--verde-darkest);
  overflow: hidden;
  margin: 4rem 0rem;
}

.wrapper2 {
  position: relative;
  width: 80%;
  background: var(--verde-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5%;
}

.bannerImage {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.bannerImage__img {
  --animate-duration: 10s;
  filter: grayscale(0.8) blur(10px);
  position: fixed;
  /* top: 0;
  left: 0; */

  /* Preserve aspet ratio */
  min-width: 100%;
  object-fit: cover;

  /* object-fit: scale-down; */
  /* object-position: center; */
}

.bannerImage2 {
  position: absolute;
  height: 500px;
  display: flex;
  /* justify-content: center; */
  overflow: hidden;
}

.bannerImage__img2 {
  object-position: center;
  position: absolute;
  object-fit: contain;
}

/* .bannerImage__img::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 2000px;
  height: 1000px;
} */

.image-active {
  display: block;
  position: relative;
  /* width: 80%;
  max-width: 1536px; */

}

.basicWidth {
  max-width: 1536px;
  width: 80%;
}

.image-inactive {
  display: none;
  width: 100%;
}

.animacion__prueba {
  animation: 5s ease-out infinite banner;
}

@keyframes banner {

  75% {
    transform: translateX(0px);
    opacity: 1;
  }

  99% {
    transform: translateX(-1025px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* <!----------------------auto-slider-botones---------------------->
     <!----------------------auto-slider-botones----------------------> */

.banner--botones {
  position: absolute;
  display: flex;
  width: 100%;
  max-width: 1536px;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.boton {

  background: white;
  border-radius: 50px;
  width: 3%;
  height: 3%;
  opacity: 0.3;
}

.boton:hover,
.dot:hover {
  transition: opacity .7s;
  opacity: 1;
}

.dotContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  opacity: 1;
  display: flex;
  bottom: 23%;
}

.dot {
  position: relative;
  cursor: pointer;
  width: 10px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  margin: 5px 5px;
  opacity: 0.5;
}

.active {
  cursor: pointer;
  opacity: 1;
}

/* <!----------------------end-auto-slider-botones---------------------->
  <!----------------------end-auto-slider-botones----------------------> */

.cuerpo {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1536px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: var(--verde-lighter);
  border-radius: 15px;
  padding: 15px 0px;
  left: 50%;
  transform: translateX(-50%);
  aspect-ratio: 7/3;

}

/* .imagen-carousel {
    flex-basis: 50%;
    background: papayawhip;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  } */

.seccionDescripcion {
  width: 40%;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  background: var(--verde-white);
  padding: 10px 25px;

  text-align: center;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  gap: 10px;

}

.title {
  /* historia */
  position: relative;
  font-size: 5rem;
  color: var(--verde-darkest);
  letter-spacing: 1rem;
}

.subTitle {
  font-size: 3rem;
  color: black;
  margin-bottom: 2rem;
  padding: 1rem;
}

.paragraph {
  font-size: 1.8rem;
  margin: 1rem;
  text-indent: 2rem;
  color: var(--verde-darkest);
  width: 80%;
  line-height: 3rem;

  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;  */
}

/*   white-space: normal;
  white-space: nowrap;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: break-spaces; */

.imagen-carousel {
  width: 40%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background: var(--verde-white);
  padding: 15px 25px;
  align-items: flex-end;
  /* overflow: hidden; */
}

.imagen-carousel>img {
  position: relative;
  border-radius: 15px;
  width: 100%;
}

@media (max-width: 765px) {
  .cuerpo {
    width: 100%;
    gap: 1rem;
  }

  .seccionDescripcion {
    flex-basis: 100%;
    text-align: center;
  }

  .imagen-carousel {
    flex-basis: 100%;
  }

  .dot {
    width: 5px;
    height: 5px;
    margin: 3px 3px;
  }

}





/* ========================================================================================= */
/* ========================================================================================= */
/* BODY SECTION ENDS======================================================================== */
/* ========================================================================================= */
/* ========================================================================================= */

/* ========================================================================================= */
/* ========================================================================================= */
/* PROYECT SECTION START==================================================================== */
/* ========================================================================================= */
/* ========================================================================================= */

.projects__container {
  width: 80%;
  position: relative;
  max-width: 1536px;
  background: var(--verde-lighter);
  border-radius: 15px;
  margin: 0 auto;
  top: 20px;
  padding: 10px 25px;
}

.project__container {
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  display: flex;
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1536px;
  gap: 5px;
  background: var(--verde-white);
  border-radius: 15px;
  justify-content: center;
  padding: 15px 50px;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 18%;
  min-width: 200px;
}

/* project__image__container {
  display: flex;
  flex-flow:column wrap;
} */


.project__image {
  width: 200px;
  flex-grow: 1;
  border-radius: 15px;
  object-fit: cover;
  aspect-ratio: 1;
  overflow: hidden;
  /* //keep the aespect ratio 1/1 of the imge */
  /* align-items: flex-start;
  justify-content: space-between; */
}

/* content: url("../../assets/thumbnail1.jpg"); */

.project__buttons {
  top: 35%;
}

.project__card {
  padding-top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.project__card>h4 {
  position: relative;
  font-weight: 700;
  font-size: 1.2rem;
  color: black;
  white-space: nowrap;


  /*  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.project__article {

  font-size: 1.1rem;
  margin: 1rem;
  color: var(--verde-darkest);
  width: 80%;
  line-height: 1.2rem;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;  */
}

/* ========================================================================================= */
/* ========================================================================================= */
/* PROYECT SECTION END==================================================================== */
/* ========================================================================================= */
/* ========================================================================================= */

/* ========================================================================================= */
/* GLOBAL CLASSES DEFINITIONS=============================================================== */
/* ========================================================================================= */


.moreInfo__button {
  /* button */
  padding: 1rem;
  position: relative;
  background-color: var(--verde-darkest);
  color: var(--verde-lighter);
  cursor: pointer;
  border: 0;
  font-weight: 600;
  border-radius: 20px;
}

/* ========================================================================================= */
/* GLOBAL CLASSES ENDS====================================================================== */
/* ========================================================================================= */

/* ========================================================================================= */
/* FOOTER CLASS STARTS====================================================================== */
/* ========================================================================================= */









/* ========================================================================================= */
/* FOOTER CLASS ENDS======================================================================== */
/* ========================================================================================= */

/* ========================================================================================= */
/* LOGIN CLASS STARTS====================================================================== */
/* ========================================================================================= */

.wrapper2--login {
  display: flex;
  background: white;
  width: 50%;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px;
}

.form-control {
  width: 200px;
  font-size: 1.5rem;
}

.font-size {
  font-size: 1rem;
}

.background-proyecto-modal {
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.oculto {
  display: none;
}

.control-label {
  font-size: 1.5rem;
}

small {
  color: red;
}

/* ========================================================================================= */
/* FOOTER CLASS ENDS======================================================================== */
/* ========================================================================================= */


.ribbon2 {
  font-size: 1.8rem;
}

.divCinta2 {
  color: black;
  z-index: 1;
  position: absolute;
  background-color: rgba(224, 239, 226, 0.8);
  border-radius: 0px 0px 15px 15px;
}

.boxShadow2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.margin1rem {
  margin: 1rem;
}

.margin2rem {
  margin: 0.5rem, 0.5rem, 8rem;
}

.verdeWhite {
  background-color: var(--verde-white);
}

.contenido {
  height: 22%;
  width: 100%;
  color: black;
  position: absolute;
  background-color: rgba(224, 239, 226, 0.8);
  bottom: 0;
}

.paragraphNoticias2 {
  text-align: left;
  font-size: 1.6rem;
  color: var(--verde-darkest);
  display: table-cell;
  vertical-align: middle;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* centrar un elemento position absolute:
  top: 0;
  bottom: 0;
  margin: auto 0; */

/* .dot:hover {
    position: relative;
    opacity: 1;
    cursor: pointer;
  } */

/*  .wrapper2 :nth-child(1) {
      width: 80%;
      object-fit: cover;          //para que no se estire la imagen
      background-repeat: no-repeat;
      border-radius: 5px;

    } */

/* animation: banner 2s ease-out infinite;
    @keyframes banner {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 1;
      }
      85% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    } */
